#hero-unit {
	padding: 50px 0px 0px 30px;
	margin-top: -10px;
	width: 870px;
	height: 350px;
	background-image: url('../img/mountains.jpg');
	background-size: 100%;
}
#latest-blogs-box {
	padding: 20px;
	width: 340px;
	background-color: #eee;
	opacity: 0.8;
	box-shadow: 0px 0px 10px grey;
}
#latest-posts-ul {
	margin-left: 20px;
	list-style-type: circle;
}
#latest-posts-ul > li {
	margin-bottom: 10px;
}
#blog-box {
	margin-top: 50px;
	width: 600px;
}
.blog-item {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
.blog-info {}
.blog-title {
	font-size: 2em;
}
.blog-date {
	margin-left: 20px;
	font-size: 0.7em;
	color: #aaa;
}
.blog-content {
	margin-top: 20px;
}
.blog-footer {
	margin-top: 20px;
}
.blog-comments {
	font-size: 0.9em;
	color: #777;
}