body {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto';
}
ul {
	margin: 0px;
	padding: 0px;
}
p {
	font-weight: 300;
}
form {
	margin-bottom: 0px;
}
a {
	text-decoration: none;
	color: #74A0F2;
}
.pull-right {
	float: right !important;
}
.no-link {
	cursor: default;
}
#page-top {
	width: 900px;
	height: 70px;
	margin: 0px auto;
}
#navbar {
	display: inline-block;
	margin-top: 30px;
	list-style-type: none;
	width: 900px;
}
#navbar > li {
	float: left;
	margin-left: 50px;
}
#navbar > li > a, #navbar > li > a:visited {
	display: block;
	height: 40px;
	color: #222;
	text-decoration: none;
	font-size: 1.05em;
	line-height: 40px;
}
#navbar > li > a#active {
	font-weight: bold;
}
#sub-menu {
	position: absolute;
	opacity:0;
	z-index: -1;
    transition: opacity linear 0.15s;
}
#sub-menu-toggle:hover #sub-menu {
	opacity: 1;
	z-index: 1;
}
#account-form {
	padding: 10px;
	margin-left: -134px;
	width: 250px;
	background-color: white;
	box-shadow: 0px 0px 5px grey;
}
#wrapper {
	padding-top: 20px;
	width: 900px;
	margin: 0px auto;
}
.button {
	display: block;
	margin: 5px;
	margin-bottom: 0px;
	width: 220px;
	height: 45px;
	background-color: #C9C9C9;
	color: white;
	text-align: center;
	text-decoration: none;
	line-height: 45px;
}
.button-success {
	background-color: #6BD16C;
}
.button-info {
	background-color: #74A0F2;
}
.button-alert {
	background-color: #F27474;
}
.button-inline {
	display: inline;
	width: 100%;
	text-align: center;
}
.panel {
	padding: 15px 20px;
	margin: 5px;
}
.panel-success {
	border-left: 5px solid #6BD16C;
	background-color: #C2F2C2;
}
.panel-alert {
	border-left: 5px solid #F27474;
	background-color: #FFDBDB;
}
.panel-info {
	border-left: 5px solid #74A0F2;
	background-color: #DEE9FF;
}
.header {
	border-bottom: 1px solid #ddd;
	font-weight: 300;
}
.header-1 {
	margin-bottom: 30px;
	padding: 10px;
	font-size: 2em;
}
.header-6 {
	margin-bottom: 10px;
	padding: 5px;
	font-size: 1em;
}
input[type=submit] {
	outline: none;
	border: none;
}
input[type=text], input[type=password] {
	margin-bottom: 5px;
	padding-left: 10px;
	width: 100%;
	height: 35px;
	outline: none;
	border: 1px solid #ccc;
	color: #777;
}