form#register-form {
	margin-right: 20px;
	width: 500px;
	float: left;
}
.label {
	width: 200px;
}
.input {
	width: 300px;
}
#register-button {
	width: 150px;
	height: 35px;
	background-color: #74A0F2;
	color: white;
}
#register-information {
	float: left;
	padding: 20px;
	width: 340px;
	background-color: #eee;
}
#register-information-ul {
	margin-left: 20px;
	list-style-type: circle;
}
#register-information-ul > li {
	margin-bottom: 10px;
}